<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/home.css">
</head>
<body>
    <div class="description">
        <p class="first">
            Don't <br> Just
        </p>
        <p class="second">
            EAT
        </p>
        <p class="third">
            Less <br> Right
        </p>
    </div>
    <div class="des2">
        <p class="next">
            Make A DIET Plan <br> Be Healthy
        </p>
    </div>
    <div class ="box">
        <span class="borderLine"></span>
        <form>
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="email" required="required">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                
                <a href="./register.ejs">Signup</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>